@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}


.navbar,
.nav-item,
.nav-icon,
.first-cont {
    display: flex;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-item {
    list-style: none;
    gap: 20px;
}

.navicon {
    transform: scale(.4);
    position: relative;
    top: -18px;

}

.nav-icon {
    padding-left: -20px;
}

.navbar {
    justify-content: space-between;
    padding: 5px 50px;
}

/* first-content style */
.first-cont {
    max-width: calc(100% - 200px);

    justify-content: space-evenly;
    margin: 0 auto;


}

.first-p {

    font-size: 16px;
    font-weight: 500;
}

.first-title {
    font-size: 50px;
    font-weight: bold;
}

.first-con {
    width: 580px;

    padding-top: 30px;
    /*  background-color: aquamarine; */
}

.circle {
    position: relative;
    top: -450px;
    z-index: 1;
}

.first-img {
    width: 440px;
    height: 414px;
}

.first-btn {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: #E02C6D;

}

.arow {
    width: 24px;
    height: 24px;
    transform: rotate(-90deg);
    filter: invert(1);
    /* black to white img  */
}

/* sponsors */


.sponsors {


    width: 1110px;
    height: 110px;
    margin: 0 auto;
    margin-top: 150px;
    gap: 50px;
}

.spon-img {
    position: relative;
    top: -5px;
    left: 10px;
    padding: 30px;



}

.fade-line {
    height: 1px;
    border: 0;

    background: linear-gradient(to right,
            transparent 0%,
            #d8e0ea 50%,
            transparent 100%);
}